body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;

}

.nav {
  background-color: #0A192F;
  margin-bottom: 0px;
}

.navbar {
  padding: 0px;
  margin-bottom: 0px !important;
}

.nav-link:hover {
  color: white !important;
}

.nav-link:visited {
  color: white !important;
}


.navbar-nav {
  margin: auto;
}

.navbar-brand {
  margin-left: 50px;
}

.nav-item {
  margin: 0px 20px;
  padding: 20px;
}

.nav-link {
  color: white;
}

.name {
  font-size: 100px;
  color: #0A192F;
}

.intro {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 90vh;
}

.small {
  width: 720px;
  color: #0A192F;
}

.about {
  margin-top: 30px;
  width: 900px;
}

.intros {
  margin-top: 0px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height:180vh
}

.contact {
  font-size: 60px;
  color: #0A192F;
  margin-top: 40px;
}

.box {
  border: 2px solid #0A192F;
  border-radius: 10px;
  margin: 50px;
  height: 300px;
  width: 600px !important;
  box-shadow: 8px 8px rgb(135, 134, 134);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #0A192F;
}

.emails{
  margin-top: 20px;

}

